body {
    background-color: #ccc;
}
.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    padding-top: 5rem;
}

.select {}



.select__area {
    width: 500px;
    height: 50px;
}
.select__list {
    padding: 15px;
    margin: 0;
    list-style: none;
    background-color: azure;
    border: 1px solid #aaa;
    border-radius: 5px;
    /* transform: translateY(-100%); */
    position: relative;
    z-index: -1;
    opacity: 0;
    transition: all .3s ease;
    height: 0;
    overflow-y: scroll;
}
.select__list--opened {
    opacity: 1;
    /* transform: translateY(0); */
    transition: all .3s ease;
    height: 200px;
    z-index: 1;
}
.select__item {
    width: 400px;
    height: 50px;
    margin: 0 auto;
    
}
.select__item:hover {
    cursor: pointer;
}
.select__item:not(:first-of-type) {
    margin-top: 10px;
}
.select__area,
.select__item {
    border: 1px solid #aaa;
    border-radius: 5px;
    background-color: #fff;
    line-height: 50px;
    padding: 0 10px;
}